<?xml version='1.0' encoding='utf-8'?>
<widget id="com.minimolabs.origami" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Origami</name>
    <description>
        An application console for minimo environtment
    </description>
    <author email="minimolabs@gmail.com" href="http://minimo-labs.com">
        Minimo Labs
    </author>
    <content src="index.html" />
    
    <plugin name="cordova-plugin-dialogs" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-network-information" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-vibration" source="npm" spec="~2.1.0" />
    <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />
    <plugin name="cordova-plugin-device-orientation" source="npm" spec="~1.0.2" />
    <plugin name="cordova-plugin-splashscreen" source="npm" spec="~3.2.1" />
    <plugin name="cordova-plugin-statusbar" source="npm" />
    <plugin name="de.appplant.cordova.plugin.local-notification-2" source="npm" />
    <plugin spec="https://github.com/Litekey/heartbeat-cordova-plugin" />
    
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="SplashScreen" value="screen" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="5000" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="200" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#b27c00" />
    
    <platform name="android">
        <icon density="ldpi" src="res/drawable-ldpi/icon.png" />
        <icon density="mdpi" src="res/drawable-mdpi/icon.png" />
        <icon density="hdpi" src="res/drawable-hdpi/icon.png" />
        <icon density="xhdpi" src="res/drawable-xhdpi/icon.png" />
        <icon density="xxhdpi" src="res/drawable-xxhdpi/icon.png" />
        <icon density="xxxhdpi" src="res/drawable-xxxhdpi/icon.png" />
        <splash src="screen.png" />
        <splash qualifier="land-hdpi" src="res/drawable-land-hdpi/screen.png" />
        <splash qualifier="land-ldpi" src="res/drawable-land-ldpi/screen.png" />
        <splash qualifier="land-mdpi" src="res/drawable-land-mdpi/screen.png" />
        <splash qualifier="land-xhdpi" src="res/drawable-land-xhdpi/screen.png" />
        <splash qualifier="land-xxhdpi" src="res/drawable-land-xxhdpi/screen.png" />
        <splash qualifier="land-xxxhdpi" src="res/drawable-land-xxxhdpi/screen.png" />
        <splash qualifier="port-hdpi" src="res/drawable-hdpi/screen.png" />
        <splash qualifier="port-ldpi" src="res/drawable-ldpi/screen.png" />
        <splash qualifier="port-mdpi" src="res/drawable-mdpi/screen.png" />
        <splash qualifier="port-xhdpi" src="res/drawable-xhdpi/screen.png" />
        <splash qualifier="port-xxhdpi" src="res/drawable-xxhdpi/screen.png" />
        <splash qualifier="port-xxxhdpi" src="res/drawable-xxxhdpi/screen.png" />
    </platform>

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
</widget>
